@{
    ViewBag.Title = "About Us | Takumi Restaurant";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

<div class="container">
    <div class="row">
        <div class="cols">
            <i class='bx bx-dots-horizontal-rounded'></i>
            <h1 class="mb-4">
                A family business for 20 years
            </h1>
            <p>
                Với mục tiêu theo đuổi “Giành trọn tình cảm của từng thực khách” và trở thành điểm đến hàng đầu về ẩm thực Nhật Bản, Takumi mang đến sự tinh tế, trang trọng nhưng không kém phần ấm cúng, gần gũi cũng như mới mẻ từ món ăn cho đến phong cách trang trí không gian nhà hàng.
                Nhà hàng Nhật Bản Takumi được xếp vào Top 10 nhà hàng Nhật Bản không thể bỏ qua tại Hà Nội.
            </p>
        </div>

        <div class="cols" style="padding-top: 50px;">
            <img src="~/Images/About/res.jpg" style="border-radius: 30px"/>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1">
                    <img src="~/Images/About/res2.jpg" style="border-radius: 30px"/>
                </div>
                <div class="col-lg-6 p-3 order-lg-2">
                    <i class='bx bx-dots-horizontal-rounded'></i>
                    <h4>
                        <span style="font-size: 80px;">9</span>
                        <span style="font-size: 20px;">NĂM 1 CHẶN ĐƯỜNG</span>
                    </h4>
                    <p class="p-4">
                        9 năm là hành trình tuyệt vời của Nhà hàng Nhật Bản Takumi, là nỗ lực cho ước mơ về một thế giới ẩm thực Nhật độc đáo giữa lòng Hà Nội.
                        Nhà hàng Nhật Bản Takumi đã không ngừng xây dựng uy tín, niềm tin trong lòng khách hàng.
                        Thành công được ghi nhận là chúng tôi đã lần lượt cho ra đời 2 nhà hàng tọa lạc trên 2 con phố: Takumi 1 Mai Hắc Đế và Takumi 2 Linh Lang.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 order-lg-4">
                    <img src="~/Images/About/res3.jpg" style="border-radius: 30px" />
                </div>
                <div class="col-lg-6 p-4 order-lg-3">
                    <p class="p-4">
                        Với phương châm “Luôn nỗ lực phát triển vì niềm tin và sự hài lòng của khách hàng”, Nhà hàng Takumi luôn giữ gìn phong cách phục vụ chu đáo cùng những món ăn thượng hạng mang đậm văn hóa ẩm thực đất nước Mặt trời mọc.
                    </p>
                    <div class="location">
                        <ul>
                            <li>
                                <i class='bx bxs-store'></i>
                                <p>NEW WORK</p>
                            </li>
                            <li>
                                <i class='bx bxs-store'></i>
                                <p>LONDON</p>
                            </li>
                            <li>
                                <i class='bx bxs-store'></i>
                                <p>PERKIN</p>
                            </li>
                            <li>
                                <i class='bx bxs-store'></i>
                                <p>BERLIN</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <i class='bx bx-dots-horizontal-rounded'></i>
                <h1 class="text-center mb-5">Meet our amazing team</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Images/About/chef1.jpg" class="card-img-top" style="border-radius: 30px">
                            <div class="card-body">
                                <h5 class="card-title role">KITCHEN CHEF</h5>
                                <h2 class="card-title">Edouardo Fong</h2>
                                <p class="card-text">Đầu bếp người Nhật nổi tiếng với hơn 20 năm kinh nghiệm trong nghề.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Images/About/chef2.jpg" class="card-img-top" style="border-radius: 30px">
                            <div class="card-body">
                                <h5 class="card-title role">KITCHEN ASSISTANT</h5>
                                <h2 class="card-title">John Duma</h2>
                                <p class="card-text">Phụ bếp người Malaysia đã đồng hành cùng bếp trưởng 10 năm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Images/About/chef3.jpg" class="card-img-top" style="border-radius: 30px">
                            <div class="card-body">
                                <h5 class="card-title role">PASTRY CHEF</h5>
                                <h2 class="card-title">Thomas Tun</h2>
                                <p class="card-text">Người tạo ra những chiếc bánh ngọt tuyệt vời cùng phong cách bài trí đa dạng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="container text-center">
                    <i class='bx bx-dots-horizontal-rounded'></i>
                    <h1 class="text-center mb-5">Follow us on Instagram</h1>
                    <div class="row">
                        <div class="col">
                            <img src="~/Images/About/ins2.jpg" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="~/Images/About/ins3.jpg" class="img-fluid">

                        </div>
                        <div class="col">
                            <img src="~/Images/About/ins4.jpg" class="img-fluid">

                        </div>
                        <div class="col">
                            <img src="~/Images/About/ins5.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 p-5 mt-4">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                        <h1 class="mb-3">Discover our menu</h1>
                        <p>
                            Hãy cùng khám phá menu của nhà hàng chúng tôi với đa dạng các món ăn và đồ uống đảm bảo mang lại một trải nghiệm không thể nào quên cho thực khách.
                        </p>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="row">
                            <div class="col-sm-12 mt-5">
                                <a class="btn text-center" href="@Url.Action("Index", "Foods_63135741/Index")">
                                    <i class='bx bx-bowl-rice d-block'></i>
                                    Menu
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        box-sizing: border-box;
        background-color: #f9f9f9;
    }

    .content {
        padding: 0 50px 0 50px;
    }

    .row {
        text-align: center;
    }

    h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 62px;
    }


    img {
        width: 100%;
        max-height: 500px;
    }

    #f-logo {
        width: 100px;
        height: 100px;
    }

    .location ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: 20px;
        padding-right: 40px;
    }

        .location ul li i {
            font-size: 40px;
            color: black;
        }

    .card {
        border: none;
    }

        .card img {
            max-height: 400px;
            max-width: 100%;
            object-fit: cover;
            object-position: 50% 0%;
            border-radius: 20px;
            filter: grayscale(100%);
        }

            .card img:hover {
                filter: none;
            }

    .card-text {
        text-align: center;
    }

    .role {
        color: red;
        font-weight: bold;
    }

    .btn {
        margin-top: 10px;
        width: 100%;
        color: #fff;
        background-color: #f82626;
        border-radius: 20px;
        padding: 30px;
    }

        .btn:hover {
            border: 1px solid #f82626;
            color: #f82626;
            background-color: #fff;
        }

    .img-fluid{
        border-radius: 20px;
    }

</style>